* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Poppins;
}

button {
  cursor: pointer;
}

ul a {
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
ul a:hover {
  border-bottom: 2px solid rgb(6, 89, 233);
  color: blue;
}

@font-face {
  font-family: Poppins;
  src: url(/Poppins/Poppins-Light.ttf);
}
.container {
  margin: 0 auto;
  width: 90% !important;
}

header {
  border-bottom: 1px solid #CCCCCC;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
header .header-navbar {
  padding: 20px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .header-navbar .header-left {
  display: flex;
}
header .header-navbar .header-left .header-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
header .header-navbar .header-left .header-list a {
  margin-top: 20px;
  color: #828388;
  font-size: 18px;
}
header .header-navbar .header-left .header-list a:hover {
  color: rgb(3, 53, 253);
}
header .header-navbar .header-right {
  display: flex;
  gap: 20px;
  align-items: center;
}
header .header-navbar .header-right .header-lang {
  border-right: none;
  border-bottom: none;
  border-top: none;
  outline: none;
  padding: 0 20px;
}
header .header-navbar .header-right .header-lang option {
  border: none;
  outline: none;
}
header .header-navbar .header-right .sign {
  width: 140px;
  border: 1px solid #828388;
  color: blue;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 6px 30px;
  background-color: transparent;
  font-size: 18px;
}
header .header-navbar .header-right .sign:hover {
  background-color: blue;
  color: white;
}
header .header-navbar .user {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: blue;
  display: none;
}
header .header-navbar .burger {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: blue;
  display: none;
}
header .header-navbar .lang {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: blue;
  display: none;
}

@media (max-width: 1200px) {
  header .header-navbar .header-left .header-list a {
    font-size: 15px;
  }
  header .header-navbar .header-right .sign {
    padding: 6px 20px;
  }
}
@media (max-width: 768px) {
  header .header-navbar .header-left .header-list {
    gap: 10px;
  }
  header .header-navbar .header-left .header-list a {
    font-size: 15px;
  }
  header .header-navbar .header-right .sign {
    padding: 6px 20px;
  }
}
@media (max-width: 992px) {
  header .header-navbar .header-left .header-list {
    display: none;
  }
  header .header-navbar .header-right .header-lang {
    display: none;
  }
  header .header-navbar .header-right .sign {
    display: none;
  }
  header .header-navbar .header-right .user {
    display: block;
  }
  header .header-navbar .header-right .lang {
    display: block;
  }
  header .header-navbar .header-right .burger {
    display: block;
  }
}
.hero {
  padding: 30px 0;
}
.hero img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 540px;
}
.hero .hero-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 0;
}
.hero .hero-info .hero-title h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #2E3038;
  text-transform: uppercase;
}
.hero .hero-info .hero-desc {
  font-size: 24px;
  font-weight: 600;
  color: rgba(65, 65, 67, 0.5490196078);
}

@media (max-width: 992px) {
  .hero .hero-info {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero .hero-info .hero-title h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #2E3038;
    text-align: center;
  }
  .hero .hero-info .hero-desc {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(65, 65, 67, 0.5490196078);
    text-align: center;
  }
}
.about {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border-top: 1px solid #CCCCCC;
  padding: 30px 0;
}
.about span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.about-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-info h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #2E3038;
}
.about-info p {
  color: #828388;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.about-info button {
  width: 140px;
  border: 1px solid #828388;
  color: blue;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 6px 30px;
  background-color: transparent;
  font-size: 18px;
}
.about-info button:hover {
  background-color: blue;
  color: white;
}
.about-img {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about-img img {
  width: 100%;
}

@media (max-width: 992px) {
  .about {
    grid-template-columns: repeat(1, 1fr);
  }
  .about span {
    text-align: center;
  }
  .about-info {
    gap: 10px;
    text-align: center;
    align-items: center;
  }
  .about-img {
    padding: 40px;
  }
}
.maqsad {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border-top: 1px solid #CCCCCC;
  padding: 30px 0;
}
.maqsad span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.maqsad .maqsad-desc h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: rgba(48, 46, 56, 0.9490196078);
}
.maqsad .maqsad-desc .maqsad-card {
  background-color: rgba(226, 223, 223, 0.631372549);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.maqsad-info {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.maqsad-info .maqsad-data {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.maqsad-info .maqsad-data span {
  height: 30px;
  width: 130px;
  border: 1px solid #828388;
  color: blue;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 6px;
  background-color: transparent;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maqsad-info .maqsad-data span:hover {
  background-color: blue;
  color: white;
}

@media (max-width: 1120px) {
  .maqsad {
    grid-template-columns: repeat(1, 1fr);
  }
  .maqsad span {
    text-align: center;
  }
  .maqsad-info {
    padding-top: 20px;
    gap: 10px;
    text-align: center;
    align-items: center;
  }
  .maqsad-desc h1 {
    text-align: center;
  }
}
.talim {
  padding: 40px 0;
  border-top: 1px solid #CCCCCC;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.talim .talim-top {
  display: flex;
  flex-wrap: wrap;
  gap: 160px;
}
.talim .talim-top span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.talim .talim-top h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: rgba(48, 46, 56, 0.9490196078);
}
.talim .talim-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.talim .talim-cards .talim-card {
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 30px 20px;
}
.talim .talim-cards .talim-card h2 {
  color: #2E3038;
  text-transform: uppercase;
}
.talim .talim-cards .talim-card p {
  color: #717273;
}
.talim .talim-cards .talim-card span {
  color: blue;
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 992px) {
  .talim .talim-top {
    gap: 30px;
  }
  .talim .talim-top h1 {
    text-align: center;
  }
  .talim .talim-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 567px) {
  .talim .talim-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.imkoniyat-st {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  border-top: 1px solid #CCCCCC;
  padding: 20px 0;
}
.imkoniyat-st span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.imkoniyat-st h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #302e38;
}
.imkoniyat-st .imkoniyat-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.imkoniyat-st .imkoniyat-cards .imkoniyat-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #CCCCCC;
  padding: 16px 0;
  gap: 20px;
}
.imkoniyat-st .imkoniyat-cards .imkoniyat-card .imkoniyat-logo {
  background-color: rgba(210, 207, 207, 0.7058823529);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 4px;
  width: 150px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 2s, height 2s, transform 2s;
}
.imkoniyat-st .imkoniyat-cards .imkoniyat-card .imkoniyat-logo:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.imkoniyat-st .imkoniyat-cards .imkoniyat-card p {
  color: rgba(46, 48, 56, 0.6);
}

@media (max-width: 567px) {
  .imkoniyat-st {
    gap: 10px;
  }
  .imkoniyat-st h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .imkoniyat-st .imkoniyat-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.imkoniyat-nd {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  border-top: 1px solid #CCCCCC;
  padding: 20px 0;
}
.imkoniyat-nd .imkoniyat-title {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.imkoniyat-nd .imkoniyat-title h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #302e38;
  text-align: center;
}
.imkoniyat-nd .imkoniyat-title span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.imkoniyat-nd .imkoniyat-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.imkoniyat-nd .imkoniyat-cards .imkoniyat-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ece8e8;
  padding: 30px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.imkoniyat-nd .imkoniyat-cards .imkoniyat-card img {
  width: 200px;
}
.imkoniyat-nd .imkoniyat-cards .imkoniyat-card p {
  color: #555151;
}
.imkoniyat-nd .imkoniyat-cards .imkoniyat-card .card-bottom {
  display: flex;
  align-items: center;
}
.imkoniyat-nd .imkoniyat-cards .imkoniyat-card .card-bottom span {
  font-size: 30px;
  color: blue;
}

@media (max-width: 567px) {
  .imkoniyat-nd .imkoniyat-title {
    gap: 10px;
  }
  .imkoniyat-nd .imkoniyat-title h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .imkoniyat-nd .imkoniyat-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.imkoniyat-rd {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  border-top: 1px solid #CCCCCC;
  padding: 20px 0;
}
.imkoniyat-rd span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.imkoniyat-rd h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #302e38;
}
.imkoniyat-rd .imkoniyat-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.imkoniyat-rd .imkoniyat-cards .imkoniyat-card {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid #CCCCCC;
  padding: 20px;
  display: flex;
}
.imkoniyat-rd .imkoniyat-cards .imkoniyat-card .card-info button {
  width: 140px;
  border: 1px solid #828388;
  color: blue;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 6px 30px;
  background-color: transparent;
  font-size: 18px;
}
.imkoniyat-rd .imkoniyat-cards .imkoniyat-card .card-info button:hover {
  background-color: blue;
  color: white;
}
.imkoniyat-rd .imkoniyat-cards .imkoniyat-card .card-info h2 {
  color: #2E3038;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.imkoniyat-rd .imkoniyat-cards .imkoniyat-card .card-info p {
  color: #828388;
}

@media (max-width: 768px) {
  .imkoniyat-rd .imkoniyat-cards .imkoniyat-card {
    flex-direction: column;
  }
}
.xalqaro {
  margin-top: 50px;
  border-top: 1px solid #CCCCCC;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.xalqaro .xalqaro-desc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.xalqaro .xalqaro-desc span {
  display: flex;
  gap: 5px;
  font-size: 18px;
  align-items: center;
}
.xalqaro .xalqaro-desc h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #302e38;
}
.xalqaro .xalqaro-cards {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
}
.xalqaro .xalqaro-cards .cards-left {
  border-radius: 10px;
  width: 100%;
  background-image: url(../images/xalqaro-img.png);
  background-repeat: no-repeat;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 400px;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: end;
  padding: 20px;
}
.xalqaro .xalqaro-cards .cards-left p {
  width: 50%;
  color: blue;
}
.xalqaro .xalqaro-cards .cards-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.xalqaro .xalqaro-cards .cards-right .card {
  height: 188px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.xalqaro .xalqaro-cards .cards-right .card .card-top {
  display: flex;
  justify-content: space-between;
}
.xalqaro .xalqaro-cards .cards-right .card .card-top h2 {
  font-size: 24px;
  color: #828388;
}
.xalqaro .xalqaro-cards .cards-right .card button {
  width: 140px;
  border: 1px solid #828388;
  color: blue;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 6px 30px;
  background-color: transparent;
  font-size: 18px;
}
.xalqaro .xalqaro-cards .cards-right .card button:hover {
  background-color: blue;
  color: white;
}

@media (max-width: 1024px) {
  .xalqaro .xalqaro-desc h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
  }
  .xalqaro .xalqaro-cards {
    grid-template-columns: auto;
  }
}
.partnyorlar {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 50px;
  border-top: 1px solid #CCCCCC;
  padding: 30px 0;
  gap: 30px;
}
.partnyorlar .partnyorlar-left span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.partnyorlar .partnyorlar-right .partnyorlar-right__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partnyorlar .partnyorlar-right .partnyorlar-right__top h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #302e38;
}
.partnyorlar .partnyorlar-right .partnyorlar-right__top p {
  font-size: 24px;
  color: rgba(48, 46, 56, 0.6823529412);
  width: 70%;
}
.partnyorlar .partnyorlar-right .partnyorlar-right__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.partnyorlar .partnyorlar-right .partnyorlar-right__bottom .bottom-item {
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding: 30px;
  width: 33%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partnyorlar .partnyorlar-right .partnyorlar-right__bottom .bottom-item img {
  width: 100px;
}
.partnyorlar .partnyorlar-right .partnyorlar-right__bottom #bbc {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}

@media (max-width: 1024px) {
  .partnyorlar {
    margin-top: 30px;
    gap: 10px;
    grid-template-columns: auto;
  }
  .partnyorlar .partnyorlar-right .partnyorlar-right__top h1 {
    text-align: center;
    font-size: 24px;
  }
  .partnyorlar .partnyorlar-right .partnyorlar-right__bottom {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .partnyorlar {
    grid-template-columns: auto;
    margin-top: 20px;
    padding: 20px 0;
    gap: 20px;
  }
  .partnyorlar .partnyorlar-right .partnyorlar-right__top h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
  }
}
.partnyorlar-nd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  border-top: 1px solid #CCCCCC;
  padding: 30px 0;
  gap: 20px;
}
.partnyorlar-nd span {
  display: flex;
  gap: 5px;
  font-size: 18px;
}
.partnyorlar-nd h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #302e38;
}
.partnyorlar-nd .pnd-desc {
  font-size: 24px;
  color: rgba(48, 46, 56, 0.6823529412);
}
.partnyorlar-nd .partnyorlar-item {
  border-bottom: 1px solid #b0acac;
  overflow: hidden;
}
.partnyorlar-nd .partnyorlar-item img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.partnyorlar-nd .partnyorlar-item .partnyorlar-item__bottom {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 0;
  align-items: center;
}
.partnyorlar-nd .partnyorlar-item .partnyorlar-item__bottom p {
  font-size: 22px;
  color: #847d7d;
}
.partnyorlar-nd .partnyorlar-item .partnyorlar-item__bottom span {
  font-size: 24px;
  color: blue;
}

@media (max-width: 1024px) {
  .partnyorlar-nd {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    border-top: 1px solid #CCCCCC;
    padding: 30px 0;
    gap: 20px;
  }
  .partnyorlar-nd h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
  }
}
@media (max-width: 768px) {
  .partnyorlar-nd {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
    padding: 20px 0;
    gap: 20px;
  }
  .partnyorlar-nd h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
  }
  .partnyorlar-nd .pnd-desc {
    text-align: center;
    font-size: 20px;
  }
}
.team {
  margin-top: 50px;
  border-top: 1px solid #CCCCCC;
  padding: 30px 0;
}
.team .team-top {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.team .team-top .team-left span {
  display: flex;
  gap: 5px;
  font-size: 18px;
  align-items: center;
}
.team .team-top .team-right .team-right__top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.team .team-top .team-right .team-right__top h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #302e38;
  width: 50%;
}
.team .team-top .team-right .team-right__top button {
  width: 140px;
  border: 1px solid #828388;
  color: blue;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 6px 30px;
  background-color: transparent;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 40px;
}
.team .team-top .team-right .team-right__top button:hover {
  background-color: blue;
  color: white;
}
.team .team-top .team-right .team-right__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.team .team-top .team-right .team-right__items .team-right__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team .team-top .team-right .team-right__items .team-right__item h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.team .team-top .team-right .team-right__items .team-right__item p {
  color: #828388;
  font-weight: 400;
}
.team .team-top .team-right .team-right__items .team-right__item img {
  width: 100%;
  height: 70%;
}
.team .team-bottom {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.team .team-bottom .team-bottom_st {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.team .team-bottom .team-bottom_st img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .team-bottom .team-bottom_nd {
  background-color: rgba(204, 204, 204, 0.5764705882);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
}
.team .team-bottom .team-bottom_nd h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #302e38;
}
.team .team-bottom .team-bottom_nd p {
  color: #828388;
  font-weight: 400;
}
.team .team-bottom .team-bottom_nd button {
  width: 140px;
  border: 1px solid #828388;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 6px 30px;
  background-color: blue;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.team .team-bottom .team-bottom_nd button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(27, 11, 243);
}

@media (max-width: 1024px) {
  .team {
    margin-top: 30px;
    border-top: 1px solid #CCCCCC;
    padding: 20px 0;
  }
  .team .team-top {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }
  .team .team-top .team-right .team-right__top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
  .team .team-top .team-right .team-right__top h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    color: #302e38;
    width: 50%;
  }
  .team .team-top .team-right .team-right__top button {
    width: 140px;
    border: 1px solid #828388;
    color: blue;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 6px 30px;
    background-color: transparent;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
  }
  .team .team-top .team-right .team-right__top button:hover {
    background-color: blue;
    color: white;
  }
  .team .team-top .team-right .team-right__items {
    gap: 10px;
  }
  .team .team-top .team-right .team-right__items .team-right__item h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  .team .team-top .team-right .team-right__items .team-right__item p {
    font-weight: 300;
  }
  .team .team-bottom {
    grid-template-columns: repeat(2, 1fr);
  }
  .team .team-bottom .team-bottom_nd h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    color: #302e38;
  }
  .team .team-bottom .team-bottom_nd p {
    color: #828388;
    font-weight: 400;
  }
}
@media (max-width: 992px) {
  .team .team-bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .team .team-top .team-right__top h1 {
    width: 100%;
  }
  .team .team-top .team-right .team-right__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 498px) {
  .team .team-top .team-right .team-right__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .team .team-top .team-right .team-right__items .team-right__item img {
    width: 70%;
  }
}
.footer {
  margin-top: 50px;
  border-top: 1px solid #CCCCCC;
  padding: 30px 0;
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto;
}
.footer .footer-right .footer-right__top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.footer .footer-right .footer-right__top .footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-right .footer-right__top .footer-list li {
  font-size: 20px;
}
.footer .footer-right .footer-right__top .footer-list li a {
  color: #828388;
}
.footer .footer-right .footer-right__top .footer-contacts .footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(53, 53, 55, 0.5098039216);
}
.footer .footer-right .footer-right__top .footer-contacts .footer-contact span {
  font-size: 22px;
  display: flex;
  gap: 10px;
  color: #828388;
  align-items: center;
}
.footer .footer-right .footer-right__top .footer-contacts .footer-contact span i {
  color: rgb(0, 0, 0);
}
.footer .footer-right .footer-right__bottom {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 10px;
}
.footer .footer-right .footer-right__bottom span {
  display: none;
}
.footer .footer-right .footer-right__bottom button {
  width: 250px;
  border: 1px solid #828388;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: rgb(88, 88, 91);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px;
  text-transform: uppercase;
}
.footer .footer-right .footer-right__bottom button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(65, 64, 68);
}

@media (max-width: 1024px) {
  .footer {
    grid-template-columns: auto;
  }
  .footer .footer-right .footer-right__top .footer-contacts .footer-contact span {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: auto;
  }
  .footer .footer-right .footer-right__top {
    grid-template-columns: auto;
  }
  .footer .footer-right .footer-right__top .footer-list {
    display: none;
  }
  .footer .footer-right .footer-right__bottom {
    justify-content: center;
  }
}/*# sourceMappingURL=home.css.map */